<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ partial "head-meta.html" . }}
    {{ partial "head-rss.html" . }}
    {{ partial "head-style.html" . }}
    {{ partial "head-icon.html" . }}
  </head>
  <body>
    {{ partial "body-header.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ if not .IsHome }}
    {{ partial "body-footer.html" . }}
    {{ end }}
  </body>
</html>
