{{ define "main" }}
  <section>
    {{- $mainSections := .Site.Params.mainSections | default (slice "posts") -}}
    {{- $section := where .Site.RegularPages "Section" "in" $mainSections -}}
    {{- $section_count := len $section -}}
    {{- if ge $section_count 1 -}}
      {{- $section_name := index (.Site.Params.mainSections) 0 }}
    <hr class="docutils">
    <div class="section">
      {{- with .Site.GetPage "section" $section_name }}
        <div class="sidebar">
          <p align="middle" class="first sidebar-title">Recent {{ .Title }}</p>
        </div>
      {{- end -}}
      {{- range (first 3 $section.ByDate.Reverse) -}}
        {{ .Render "summary" }}
      {{- end -}}
    </div>
    {{- end -}}
  </section>
{{ end }}
